html, body {
  margin: 0;
  padding: 0;
  background-color: var(--body);
  color: var(--text);
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
a { text-decoration: none; color: var(--text); }
li { list-style: none; }
button { background: none; border: none; color: var(--text); }
i { font-size: 1.5rem; }