html {
  /* Color */
  --orange: #ff6e48;
  --red: #ff3e55;
  --blue: #63D4CC; /* old #8BE8D7FF */
  --cyan: #1FA6B8; /* old #2fb5c7 */
  --magenta: #c536d3; /* old #a033b5 */
  --purple: #8805b7; /* old #7b07b9 */
  --lime: #6ff19c;
  --green: #4aa96c;

  /* Colorfade */
  --cf-orange-red: linear-gradient(90deg, var(--orange) 0%, var(--red) 100%); /* BLOG */
  --cf-blue-cyan: linear-gradient(90deg, var(--blue) 0%, var(--cyan) 100%); /* IT */
  --cf-magenta-purple: linear-gradient(90deg, var(--magenta) 0%, var(--purple) 100%); /* WEBDEV */
  --cf-lime-green: linear-gradient(90deg, var(--lime) 0%, var(--green) 100%); /* PHOTOGRAPHY */

  /* Hover */
  --hover-orange: 0 0 5px var(--orange), 0 0 15px var(--orange), 0 0 25px var(--orange), 0 0 35px var(--orange), 2px 2px 2px rgba(206, 89, 22, 0); /* BLOG */
  --hover-blue: 0 0 5px var(--blue), 0 0 15px var(--blue), 0 0 25px var(--blue), 0 0 35px var(--blue), 2px 2px 2px rgba(47, 181, 199, 0); /* IT */
  --hover-magenta: 0 0 5px var(--magenta), 0 0 15px var(--magenta), 0 0 25px var(--magenta), 0 0 35px var(--magenta), 2px 2px 2px rgba(47, 181, 199, 0); /* WEBDEV */
  --hover-lime: 0 0 5px var(--lime), 0 0 15px var(--lime), 0 0 25px var(--lime), 0 0 35px var(--lime), 2px 2px 2px rgba(79, 198, 121, 0); /* PHOTOGRAPHY */
}

body {
  --body-brighter: #ffffff;
  --body: #f8f8f8;
  --body-darker: #f1f1f1;
  --text: #13161b;

  --shadow: linear-gradient(180deg, rgba(248, 248, 248, 0.95), transparent); /* --body Color */
}

.dark-mode body {
  --body-brighter: #1a1e25;
  --body: #13161b;
  --body-darker: #101318;
  --text: #f8f8f8;

  --shadow: linear-gradient(180deg, rgba(19, 22, 27, 0.95), transparent); /* --body Color */
}